@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #211caf; /* Red scrollbar thumb */
  border-radius: 8px; /* Rounded scrollbar edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #211caf; /* Lighter red when hovered */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #ffffff; /* Light gray track */
  border-radius: 10px;
}
